<!DOCTYPE html>
<html>

   <head>
      <title>Guestions</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width", initial-scale=1>
      

      <!--Bototstrap-->
      <link href="/static/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/style.css" rel="stylesheet">
      <link href="testsida.css" rel="stylesheet">



   </head>
	
   <body>
   		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   		<script src="js/bootstrap.min.js"></script>
   	
      <h1>Shetlandsponny</h1>
		
		
		<p class= "last">
		HUr hög kan en shetlandponny bli?
		
		</p>

		<div class="container">
			<div class="row">
				<div class="col-md-4 column1">
					<ul>
						<li> 100</li>
						<li> 140</li>
						<li> 90</li>	
					</ul>	
				 </div>
				<div class="col-md-4">
					<p>HerthaLiv på D-ponnyn Siglo
					<img src="HLSigge.png" alt="Sigge och HerthaLiv" style="width:600px;height:350px;">
					</p>
				</div>
			</div>
		</div>


   </body>
	
</html>