<!DOCTYPE html>
<html>

   <head>
      <title>Malins hästquiz</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width", initial-scale=1>
      

      <!--Bototstrap-->
      <link href="/static/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/style.css" rel="stylesheet">
      <link href="testsida.css" rel="stylesheet">

   </head>
	
   <body>
   		   		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   		<script src="js/bootstrap.min.js"></script>
   	

      <h1><center>Malins Ponny Quiz</center></h1>

		<h2><center>
         <p> Hästar, hästar, hästar....</p>
         <p>Välkommen till ponnyquizen!</p> 
         <p>Här testar du dina ponny kunskaper.</p>
			   <p>Välj vilken quiz du vill börja med.</p>
         <p>Lycka till!</p>
</h1></center>

{% for quiz in quizzes %}
    <p><a href="{% url 'quiz_page' quiz.quiz_number %}">
        {{ quiz.name }}
    </a></p>
{% endfor %}


			
         <div class="col-md-4">
               <p>HerthaLiv på D-ponnyn Siglo
               <img src="/static/HLSigge.png" alt="Sigge och HerthaLiv" style="width:600px;height:350px;">
               </p>
            </div>

		
		</p>
		
				
		
		

   </body>
	
</html>